.menu_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.top_menu {
  background-color: #e5e5e5;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}

.bottom_menu {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}
